.back-link {
  display: inline-block;
  margin-bottom: 20px;
  color: #0066cc;
  text-decoration: none;
  font-size: 16px;
}

.back-link:hover {
  text-decoration: underline;
}

.news-item h1 {
  font-size: 35px;
  margin-bottom: 10px;
  color: #333;
}

.news-date {
  display: block;
  color: #666;
  font-size: 1.1rem;
  margin-bottom: 30px;
}

.news-item-content span {
  white-space: pre-wrap;
  line-height: 1.6;
  font-size: 20px;
  color: #444;
}

.news-images {
  display: flex;
  gap: 10px;
}