.news-сontainer {
  display: flex;
  justify-content: center;
  padding: 20px 20px;
}

.first-line-container {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.small-cards-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title-news{
    font-weight: bold;
    font-size: 18px;
}