.course-item-container {
    max-width: 1200px;
    margin: 35px auto;
    padding: 30px;

    background-color: white;
    border-radius: 12px;
}

.back-link {
    display: inline-block;
    margin-bottom: 20px;
    color: #0066cc;
    text-decoration: none;
    font-size: 16px;
}

.back-link:hover {
    text-decoration: underline;
}

.course-layout {
    display: flex;
    gap: 25px;
}

.course-info {
    flex: 1;
}

.course-sidebar {
    display: flex;
    flex-direction: column;
    width: 350px;
    flex-shrink: 0;
    gap: 10px;
}

.course-item-content h2 {
    margin-top: 1.1em !important;
}

.course-item-content span {
    font-size: 20px;
}

.course-item-image {
    width: 100%;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    aspect-ratio: 1 / 1;
}

.course-cost {
    font-size: 25px;
    font-weight: 600;
}
