.card {
  width: 100%;
  height: fit-content;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.text-section {
  height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 16px;
}

.image-section {
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  width: 140px;
  height: 140px;
  object-fit: cover;
  border-radius: 4px;
}

.time-address-container {
  display: flex;
  font-weight: bolder;
  color: rgb(102, 102, 102);
  gap: 150px;
}

.time-container, .address-container {
  gap: 5px;
  display: flex;
  align-items: center;
}

.clock-svg, .location-svg{
  height: 20px;
}

.event-name {
  font-size: 20px;
}
