.events-page{
  width: 100%;
  align-items: center;
}
.events-page-container{
  width: 800px;
  gap: 20px;
}

.events-page, .event-cards-container, .events-page-container{
  display: flex;
  flex-direction: column;
}

.event-cards-container{
  gap: 10px
}

.calendar-search{
  display: flex;
  justify-content: space-between;

}

.events-title{
  font-size: 25px;
  padding: 15px 5px 0px 5px;
  text-align: left;
}


.ant-modal-body {
  display: flex;
  justify-content: center;
}

.calendar-search {
  display: flex;
  gap: 16px;
  align-items: center;
}