.courses-page{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;  
}

.courses-сontainer{
  margin-top: 20px;
  gap: 20px;
  max-width: 760px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
Link {
  text-decoration: none;
  color: inherit;
} 

.courses-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 100%;
}

.courses-grid .ant-card{
  border-radius: 6px ;
  width: 240px;
}
.courses-grid .ant-card-cover > *{
  border-radius: 6px 6px 0 0 ;
}

.courses-title{
  font-size: 25px;
  padding: 0px 5px 0px 5px;
  text-align: left;
  align-self: start;

}